/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
	width: 100%;
	padding: 14px;
	border: 1px solid #ccc;
	border-color: #E8E8E8;
	color: #484848;
	font-weight: 700;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize:vertical;
}

input[type=submit] {
	background-color: #D8D8D8;
	border-color: #BEBEBE;
	color: #585858;
	font-weight: 900;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input [type=submit]:hover {
	background-color:#ff6f69;
	opacity: 0.9;
}
.container {
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
	border-radius: 16px;
	background-color:#BEBEBE;
}